
@font-face {
  font-family: Lazer84;
  src:url(../fonts/Lazer84.ttf);
}

/* Background Image from: https://unsplash.com/new?photo=EcZSMO-TNuc */
#titleBox {
  height:5%;
  width: 75%;
  margin: auto;
  color: #000;
  z-index: 1;
  text-align: center;
}

#contentBox {
  height: 100%;
  width: 90%;
  margin: auto;
  color: #000;
  z-index: 1;
  border: 5px solid #60DCD3;
  background-color:rgba(0,0,0, 0.7);
  font-family: 'Orbitron', sans-serif;
  font-size: 2vh;
  color:#fff;
  text-align: center;
}




.portfolio-max-width {
    max-width: 900px;
    margin: auto;
    background-color: transparent;
}

.mdl-card {
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAb0lEQVQoU2Nkafxb/6eeuZEBB/gvsLIeJMUIUghiYFMMV/QhvJERpAimGFkDsiKwicg2wjT87l8DFmb8EA53EopCkCS6STCDUBTCFLEWhoDlkd0NVwhShGwVuifBCnFZh6wYrhDZNGweZMRlGrpiABbhQUS1xtZWAAAAAElFTkSuQmCC
   ) repeat;
   z-index: 1;
}

.demo-card-square.mdl-card {
   width: 33%;
   height: 150px;
   margin: 10px;
 }

 .demo2-card-square.mdl-card {
    width: 33%;
    height: 150px;
    margin: 10px;
  }

  .demo3-card-square.mdl-card {
     width: 33%;
     height: 150px;
     margin: 10px;
   }

 .skills2 {
   display: flex;
 }

 .demo-card-square > .mdl-card__title {
   background:
       url('../sponsers/mlh.svg') center no-repeat;
 }

 .demo2-card-square > .mdl-card__title {
   background:
       url('../sponsers/cs.jpg') center no-repeat;
 }

 .demo3-card-square > .mdl-card__title {
   background:
       url('../sponsers/sa.jpg') center no-repeat;
 }
.mdl-card .mdl-card__title-text {
  font-family: 'Lazer84', 'Orbitron', sans-serif;
  color: #FF11A7 !important;
  text-shadow: 2px 2px #47ffcb;
  font-size: 24px;
}
.mdl-navigation__link {
  font-family: 'Lazer84', 'Orbitron', sans-serif;
  color: #FF11A7 !important;
  text-shadow: 2px 2px #47ffcb;
  font-size: 24px;
  margin: 5px;
  display:inline-block;
}

.mdl-layout__drawer {
  background-color: #FF11A7;
}

.mdl-layout {
  z-index: 1;
}
.mdl-navigation {
  margin:0;
   padding:0;
}
.mdl-navigation a {
  display:inline-block;
}
.mdl-navigation__link:hover {
  color: #47ffcb !important;
  text-shadow: 2px 2px #FF11A7;
}

body {
	background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%,
  rgba(0,0,0,0.8) 60%,
  rgba(0,0,0,1) 90%),
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
	background-size: cover;
	z-index:-5;
	color: white;
	overflow: scroll;
	font-family: 'Lazer84', monospace;
	font-size: 2em;
  background-color:#FF11A7;
}

h1 {
  font-family: 'Orbitron', sans-serif;
	animation: neon1 1.5s ease-in-out infinite alternate;
  font-size: 10vh;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 8vh;
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f6ff0a, 0 0 70px #f6ff0a, 0 0 80px #f6ff0a, 0 0 100px #f6ff0a, 0 0 150px #f6ff0a;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF11A7, 0 0 35px #FF11A7, 0 0 40px #FF11A7, 0 0 50px #FF11A7, 0 0 75px #FF11A7;
  }
}

@keyframes layerupanim
{
	from {
		height: 140px;
	}
	to {
		height: 155px;
	}
}

@keyframes layercorneranim
{
	from {
		height: 400px;
	}
	to {
		height: 540px;
	}
}
