/* YOUR CUSTOM STYLES */

#address {
  color: rgb(105,240,174);
}

#addressPara {
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
}
.h2-responsive {
  font-family: 'Lazer84', cursive;
  color: #FF11A7 !important;
  text-shadow: 2px 2px #47ffcb;
  margin: auto;
}
#signupButton {
  background: linear-gradient(143deg, #ac32e4, #6317fb, #e517fb);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
  font-family: 'Bungee Inline', cursive;
  font-size: 3rem;
  color: #68b5ff !important;
  text-shadow: 2px 2px 5px #000;
  width: 100%;
}

#Schedule h3 {
  font-family: 'Righteous', cursive;
}

#sponers h6 {
  font-family: 'Righteous', cursive;
}

#FAQ div {
  font-family: 'Righteous', cursive;
}
#FAQ h3 {
  font-family: 'Righteous', cursive;
}

#FAQ .altColor {
  color: #FF11A7 !important;
}
#FAQ p {
  color: #000 !important;
}

#FAQ {
  color: #47ffcb !important;
}

#about p {
    font-family: 'Righteous', cursive;
    font-size: 1.6rem;
}


  @media only screen and (max-width: 1025px) {
        #FAQ {
            margin-left: 25%;
        }
    }

#signupBorder {
  border: .5em solid #68b5ff;
  border-radius: 4em;
  overflow: hidden;
}

@font-face {
  font-family: Lazer84;
  src:url(../font/Lazer84.ttf);
}

.logoText {
  font-family: 'Lazer84', 'Orbitron', sans-serif;
  color: #FF11A7 !important;
  text-shadow: 2px 2px #47ffcb;
  font-size: 5.7rem;
}

#retroNav a {
  font-family: 'Lazer84', 'Orbitron', sans-serif;
  color: #FF11A7 !important;
  text-shadow: 2px 2px #47ffcb;
  align-items: center;
  font-size: 2rem;
}

#retroNav a:hover {
  color: #47ffcb !important;
  text-shadow: 2px 2px #FF11A7;
}

#retroNav {
  display: flex;
  align-items: center;
}

#retroNav li {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

@-webkit-keyframes signupButtonAnim {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@-moz-keyframes signupButtonAnim {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@keyframes signupButtonAnim {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
